/* Global */
body {
    background: #29363B;
    padding: 40px;
}  

div { word-break: break-all; }

img { max-width:100%; }

a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    a:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter: alpha(opacity=50); /* IE7 */
        opacity: 0.6;
        text-decoration: none;
    }


/* Container */
.container-fluid {
    background: #fbf4e0;
    margin: 40px auto 10px;
    padding: 20px 0px;
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

   


/* Page Header */
.page-header {
    background: #fbf4e0;
    margin: -30px 0px 0px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #a83b3b;
    text-transform: uppercase;
    font-family: 'Work sans', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
    }

.B-Heading {
    background: #fbf4e0;
    margin:0px 0px 0px;
    padding: 20px;
    color: #a83b3b;
    text-transform: uppercase;
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
}

.List {
  font-family: 'Work sans', sans-serif;
  font-weight: 300;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
  background: #fbf4e0;
  padding: 40px
}


/* Thumbnail Box */

.carousel-control {
    top: 33%;
}


@import "compass/css3";

* {box-sizing: border-box;}

body {
  padding: 20px;
  width: 100%px;
  max-height: 200px;
}

ul {
  margin: auto;
  background: #fbf4e0;
  width: 75%;
  height: 250px;
  position: relative;
  top: 0px;
  bottom: 20px;
  left: 120px;
  right: 0px;
  overflow: scroll;
  margin: 0;
  padding: 0;
  color: #a83b3b;
  text-align: center;
  
  border: 2px solid #ccc;
  
  font-family: 'Work sans', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
}

li {
  padding: 10px 20px;
  
  border-bottom: 1.5px solid #ccc;
  
  &:last-child {
    border-bottom: none;
  }
  
  &:nth-child(even) {
    background: #f8f8f8;
  }
}